<div class="img-container {{disabled? 'disabled' : ''}} {{bigger ? 'bigger' : smaller ? 'smaller' :  ''}}"
  (click)="imageClick($event)" fxLayout="column" >
  <span *ngIf="mode === 'edit'">add an image</span>
  <img *ngIf="image" [src]="direct ? image : { image: image, imageType: imageType } | sanitizeImage "
    class="img-preview {{bigger ? 'bigger' : smaller ? 'smaller' : ''}}">
  <img *ngIf="!image" src="assets/no-image-placeholder.png"
    class="img-preview {{bigger ? 'bigger' : smaller ? 'smaller' : ''}}">
</div>