.img-container {
    display: flex;
    min-height: 160px;
    max-width: 300px;
  
    .img {
      max-height: 300px;
      max-width: 300px;
      width: auto;
      height: auto;
      margin: auto;
    }
  }
  