.mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.mat-form-field {
  display: block;
}

.mat-icon {
  font-size: 60px;
  width: 75px;
  height: 75px;
  padding-bottom: 32px;
}
